This project was built using Python. The following libraries were used for data analysis and visualization

- pandas: for data loading, cleaning, manipulation, and analysis
- numpy: for numerical operations and calculations
- matplotlib: for creating charts and visualizations
- seaborn: for enhanced statistical visualizations

Other resources used
- https://www.w3schools.com/python/pandas/default.asp
- https://www.markdownguide.org/cheat-sheet/


